<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.example.bankingsystem.repositories.BankAccountRepository">
	<select id="findByNumber" resultType="BankAccount" >
		SELECT * FROM bank_accounts WHERE id= #{id} AND isDeleted = 0
	</select>
	<insert id="createAccount" parameterType="BankAccount">
		INSERT INTO bank_accounts(id, name, surname, email, tc, balance, type, isDeleted, lastModified) 
		VALUES(#{id}, #{name}, #{surname}, #{email}, #{tc}, #{balance}, #{type}, #{isDeleted}, #{lastModified})
	</insert>
	<update id="updateBalance" parameterType="BankAccount">
	    UPDATE bank_accounts SET balance = #{balance}, lastModified = #{lastModified} WHERE id = #{id}
    </update>
    <update id="deleteAccount" parameterType="BankAccount">
	    UPDATE bank_accounts SET isDeleted = #{isDeleted}, lastModified = #{lastModified} WHERE id = #{id}
    </update>
    <insert id="createBankAccountLog">
		INSERT INTO bank_account_logs(message) VALUES(#{message})
	</insert>
	<select id="findLogsByNumber" resultType="AccountLogResponse">
		SELECT message FROM bank_account_logs WHERE message LIKE #{id}
	</select>
</mapper>	